<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tpfinalmoviles">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".Model.GenerarBCS"></activity>
        <activity android:name=".Model.ConsultarRodeo"></activity>

        <activity
            android:name=".Model.AgregarVacaAlerta"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Model.ConsultarVaca" />
        <activity android:name=".Model.AgregarRodeoAlerta" />
        <activity
            android:name=".Utils.ConfigServer"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Model.AgregarRodeo"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Model.AgregarVaca"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>